<section>
    <div id = "banner">
      <div id = "name">
          Find Your Adventure
      </div>
      
      <div id = "heading">
          Embark on your next life thrilling seeking adventure.
      </div>
<form id="search" action="/result" method="get">
        <input name="query" type="text" placeholder="Start your Advanture" id="query">
        <input type="submit" value="Search"><br>
</form>
</div>

</section>
