<section>
<div id = "banner">
      <div id = "name">
          User Profile
      </div>
      
      <div id = "heading">
          Welcome back to Traveloo, {{username}}!
      </div>
    </div>

<article>
    <div id = "accBlock">
    <div id = "accDetails">
        <p>Gender: {{gender}}</p>
        <p>Search History: {{history}}</p>
    </div>
    <div id = "button">
        <div><a href="/logout">Logout</a></div>
    </div>
    </div>
</article>

</section>