<section>
<div id = "banner">
      <div id = "name">
          TRAVELOO
      </div>
      
      <div id = "heading">
          The World's Leading Website for Seeking New Adventures
      </div>

</div>
      
      <div id = "testimonies">
          <ul>
              <li>"... the best traveling site to date." <br /><div class="testimony">The New York Times</div></li>
              <li>"... amazing and convenient" <br /> <div class="testimony">Times Magazine</div></li>
              <li>"... planning on using this for every travel break" <br /> <div class="testimony">Satisfied User</div></li>
          </ul>
      </div>

      <div id = "picDesc">
            <ul>
                <li class = "picList"><img src="../../public/images/travel1.jpg" alt="dj" id="dj1" /></li>
                <li class = "picList"><img src="../../public/images/travel2.jpg" alt="dj" id="dj1" /></li>
                <li class = "picList"><img src="../../public/images/travel3.jpg" alt="dj" id="dj1" /></li>
            </ul>
      </div>
</section>
