<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Traveloo - Find Your Next Adventure!</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/site.css">
    <script type="text/javascript" src="../../public/js/palindrome.js"></script>
</head>
<body>
    <div id = "header">
           <header>
        <nav id = "navbar">
            <ul>
                <li id="blogo"><a href="/main">TRAVELOO</a></li>
                <li><a href="/adventure">Adventure</a></li>
                <li><a href="/destinations">Travel Destinations</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <!--<a href="/adventure"><li>Adventure</li></a>
                <a href="/destinations"><li>Travel Destinations</li></a>
                <a href="/login"><li>Login</li></a>
                <a href="/register" id = "register"><li>Register</li></a>-->
            </ul>
        </nav>
    </header>
      </div>
      
    <main>
        {{{body}}}
    </main>

        <div id = "copyrightbar">
          &copy; Copyright 2018 by Traveloo. All Rights Reserved.
      </div>
  </body>
</html>
